.firstDiv{
    background-image: url(images/donation3.jpg);
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: 100 auto;   
    padding: 100px;
}

.headLine{
    line-height:80px;
    font-size: 100px;
    color: white;
    text-align: center;

}

p{
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 8%;
}

.donateButton{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    text-align: center;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 40%;
    margin-right: 40%;
}

#secondHeader{
    margin-top: 10%;
    text-align: center;
    font-size: 50px;
}
#secondParagraph{
    font-family: 'Merriweather', serif;
    font-family: 'Neuton', serif;
    color: black;
}

ul{
    display: flex;
    list-style: none;
    
}

.list{
    background-color: rgba(211, 182, 182, 0.26) ;
    width: 120px;
    height: 70px;
    padding: 40px;
    margin: 15px;
    font-size: 50px;
    
}

#borderTyp{
    background-color: pink ;
    border: solid 5px rgb(207, 81, 102);
    box-shadow: 10px 10px 10px 10px whitesmoke;
    width: 120px;
    height: 60px;
    padding: 40px;
    margin: 15px;
    color: rgb(207, 81, 102);
    font-size: 50px;

}

input{
    text-align: center;
    margin-left: 4%;
    font-size: 30px;
    width: 1130px;
    height: 50px;
    outline: 0;
    border-width: 0 0 2px;
}

section{
    display: flex;
    margin-top: 10%;
    
}

.thirdDivAnothercolor{
    background-image: url(../donate-flood/icons/food.png);
    background-repeat: no-repeat;
    width: 50%;
    background-color: #D6EAF8 ;
    padding: 40px;
    margin: 15px;
    font-size: 20px;

}

.thirdDiv{
    background-image: url(../donate-flood/icons/shelter.png);
    background-repeat: no-repeat;
    width: 50%;
    background-color: rgb(221, 227, 230) ;
    padding: 40px;
    margin: 15px;
    font-size: 20px;
}

.childIcon{
    background-image: url(../donate-flood/icons/Frame-1.png);
}

footer{
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    text-align: center;
    width: auto;
    height: 100px;
    padding: 30px;
    font-size: 50px;

}
