
.firstDiv{
    background-image: url(images/donation13.jpg);
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
}

.headLine{
    line-height:80px;
    font-size: 100px;
    color: white;
    text-align: center;

}

p{
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 8%;
}

.donateButton{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    text-align: center;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 45%;
    
}

#secondHeader{
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
}
#secondParagraph{
    font-family: 'Merriweather', serif;
    font-family: 'Neuton', serif;
    color: black;
}

ul{
    display: flex;
    list-style: none;
    margin-left: 20%;
}

.list{
    background-color: rgba(211, 182, 182, 0.26) ;
    width: 120px;
    height: 60px;
    padding: 40px;
    margin: 10px;
    font-size: 50px;  
}

#borderTyp{
    background-color: pink ;
    border: solid 5px rgb(207, 81, 102);
    box-shadow: 10px 10px 10px 10px whitesmoke;
    width: 120px;
    height: 60px;
    padding: 35px;
    margin: 10px;
    color: rgb(207, 81, 102);
    font-size: 50px;

}

input{
    text-align: center;
    margin-left: 22%;
    font-size: 30px;
    width: 1100px;
    height: 50px;
    outline: 0;
    border-width: 0 0 2px;
}

section{
    display: flex;
    margin: 10%;

    
}

.thirdDivAnothercolor{
    background-image: url(../donate-flood/icons/food.png);
    background-repeat: no-repeat;
    width: 50%;
    background-color: #D6EAF8 ;
    padding: 40px;
    margin: 15px;
    font-size: 20px;

}

.thirdDiv{
    background-image: url(../donate-flood/icons/shelter.png);
    background-repeat: no-repeat;
    width: 50%;
    background-color: rgb(221, 227, 230) ;
    padding: 40px;
    margin: 15px;
    font-size: 20px;
}

.childIcon{
    background-image: url(../donate-flood/icons/Frame-1.png);
}

/* bonus */

.clr{
    color: orange;  
}

h1{
    color: blue;
    font-size: 40px;
 
}


.firstSection{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;

}

.firstSecDiv{
width: 50%;
padding: 5%;
text-align: justify;
font-size: 20px;
}

.firstSecDiv img{
    width: 70%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700px;
    padding: 10px 20px;
    border-radius: 10px;
}

.secondSection{
    margin: 0;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


/* bonus */

.subscribePanel{
    
    background-color: rgba(211, 182, 182, 0.26) ;
    width: 60%;
    height: 70px;
    padding: 40px;
    margin: 0 auto;
}

.emailColoumn{
    height: auto;
    width: 50%;
    margin-left: 20%;
    text-align: left;
}

#emailSubscribeButton{
    text-decoration: none;
    background-image: linear-gradient(orange tomato);
    background-color: orange;
    height: 15%;
    padding: 8px;
    font-size: 24px;

}

footer{
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    text-align: center;
    width: auto;
    height: 100px;
    padding: 30px;
    font-size: 50px;

}
